apiVersion: v1
kind: Service
metadata:
  name: nfvo-service
  labels:
    app: nfvo
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: nfvo
